root = true

[*.cs]

# Private member is unused - Code analyzers don't know that Unity Messages are in fact being used
dotnet_diagnostic.IDE0051.severity = none

# Make field readonly - In most cases, variables do NOT need to be read only
dotnet_diagnostic.IDE0044.severity = none
